	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" ng-click="addQuestionController.close(false,{})" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Add Section</h4>
				</div>
				<form name="addQuestionControllerForm" novalidate> 
					<div class="x_content">
						
						<text-angular name="htmlContent" ng-required="true" ng-model="addQuestionController.questionData.htmlContent">
						</text-angular>
						<p ng-show="addQuestionControllerForm.htmlContent.$error.required" class="error">Please Enter Question</p>
						
						
						<div class="clearfix"></div>
						<div style='float:right;margin:15px;'>
							<button class="btn btn-primary"  data-dismiss="modal" aria-hidden="true" ng-disabled="addQuestionControllerForm.$invalid" 
							ng-click="addQuestionController.close(addQuestionControllerForm.$valid, addQuestionController.questionData)">Add Question &nbsp;<span class="glyphicon glyphicon-menu-right" aria-hidden="true" style='top:2px;'></span></button>
						</div>
					</div>
				</form>
			</div>
        </div>
	</div>