	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" ng-click="addChapterController.close(false,{})" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Add New Book</h4>
				</div>
				<div>
					<form name="addChapterController" novalidate> 
						<div class="x_content">
							</br>
							<label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Title <span class="required">*</span></label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input name = "title" ng-required="true" type="text" data-ng-model="addChapterController.bookDetails.title" class="form-control col-md-8 col-xs-13"/>
								<p ng-show="addChapterController.title.$error.required" class="error">Please Enter Book Title</p>
							</div>
							<div class="clearfix"></div>
							<br />
							<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Book Summary <span class="required">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<textarea type="text" ng-required="true"  data-ng-model="addChapterController.bookDetails.summary" class="form-control col-md-8 col-xs-13" name= "description">
								</textarea>
								<p ng-show="addChapterController.description.$error.required" class="error">Please Enter Book Summary</p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div style='float:right;margin:15px;'>
							<button  type="button" ng-disabled="addChapterController.summary.$invalid"  ng-click="addChapterController.close(true, addChapterController.bookDetails)" class="btn btn-primary" data-dismiss="modal" >Save</button>
							<button type="button" ng-click="addChapterController.close(false, {})"  data-dismiss="modal" class="btn btn-default" >Cancel</button>
						</div>
					</form>
				</div>
			</div>
        </div>
	</div>