				<div class="col-sm-9 mail_view">
					<div class="inbox-body">
                        <div class="mail_heading row">
							<div class="col-md-8">
								<div class="compose-btn">
									<p>Chapter Summary for book {{subBookDetCtrl.selectedBookTitle}}</p> 
									<button data-placement="top" type="button" class="btn btn-info btn-sm" ng-click="subBookDetCtrl.ShowAddChapterModal(subBookDetCtrl.selectedSubjectId, subBookDetCtrl.ModalService, subBookDetCtrl.selectedBookId, subBookDetCtrl.selectedBookTitle)"> Add Chapter</button>
								</div>
							</div>
							<div class="clearfix"/>
							<div class="clearfix"/>
						</div>
                        <div class="view-mail">
							
				
							<div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
								<div class="panel" ng-repeat="book in subBookController.subjectBooks">
									<a class="panel-heading collapsed" style=''role="tab" id="{{book.bookTitle}}"  href ng-click="subBookDetCtrl.showHideAccordian(subBookController.subjectBooks.length, $index)" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="{{book.bookTitle}}">
										<h4 class="panel-title">{{book.bookTitle}}</h4>
									</a>
									<div id="{{$index}}" class="panel-collapse collapse in" style='display:none;' role="tabpanel" aria-labelledby="{{book.bookTitle}}">
										<div class="panel-body">
											<div>
												<p>{{book.bookSummary}}</p>
											</div>
											<div>
												<p>{{book.bookSummary}}</p>
											</div>
											<div>
												<p>{{book.bookSummary}}</p>
											</div>
											<div>
												<p>{{book.bookSummary}}</p>
											</div>
											<div>
												<p>{{book.bookSummary}}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
					
					
					