        <div class="">

          <div class="clearfix"></div>

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                
                <div class="x_content">

                  <div class="col-md-3 col-sm-3 col-xs-12 profile_left">

                    <!--<div class="profile_img">
                      <div id="crop-avatar">
                        <div class="avatar-view" title="{{studentCtrl.student.firstName}} {{studentCtrl.student.lastName}}">
                          <img src="images/user.png" alt="Avatar">
                        </div>
                      </div>
                    </div>-->
                    
					  <div class="thumbnail">
                        <div class="image view view-first">
                          <img style="width: 100%; display: block;" src="images/user.png" alt="image" />
                          <div class="mask">
                            <div class="tools tools-bottom">
                              <a href="#"><i class="fa fa-pencil"></i></a>
                              <a href="#"><i class="fa fa-times"></i></a>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    
					
					
					
					
					
					
					
					<h3>{{studentCtrl.student.firstName}} {{studentCtrl.student.lastName}}</h3>

                    <ul class="list-unstyled user_data">
                      <li><i class="fa fa-birthday-cake user-profile-icon"></i> {{studentCtrl.student.dateOfBirth}}</li>
					  <li>								<svg class="icon icon-supervisor_account" style='fill:#73869b;'><use xlink:href="#icon-supervisor_account"></use></svg>
 {{studentCtrl.student.guardianName}}</li>
					  <li><i class="fa fa-phone user-profile-icon"></i>&nbsp; {{studentCtrl.student.mobileNumber}}</li>
					  <li><i class="glyphicon glyphicon-map-marker user-profile-icon"></i> {{studentCtrl.student.address}},
					  <div style='align:right;'>{{studentCtrl.student.city}},</div>
					  <div>{{studentCtrl.student.state}}</div></li>
					  <li class="m-top-xs">
                        <br/>
                      </li>
					  
                      <li>
                        <i class="glyphicon glyphicon-blackboard user-profile-icon"></i> {{studentCtrl.student.classCode}} - {{studentCtrl.student.classSection}} 
                      </li>

                      <li class="m-top-xs">
                        <i class="glyphicon glyphicon-education user-profile-icon"></i>
                        <a href="http://www.kimlabs.com/profile/" target="_blank">{{studentCtrl.student.facultyFirstName}} {{studentCtrl.student.facultyLastName}} </a>
                      </li>
                    </ul>

                    <a class="btn btn-success"><i class="fa fa-edit m-right-xs"></i> Edit Profile</a>
                    <a class="btn btn-success" href ng-click="studentCtrl.show()"><i class="fa fa-plus m-right-xs"></i> Add Badge</a>

									
										
                    <br />
                    <br />

                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-12">

                    <div class="col-md-9 col-sm-9 col-xs-12 pull-right">
					<div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel">
                      <a class="panel-heading" href ng-click="studentCtrl.showHideAccordian('collapseOne')">
                        <h4 class="panel-title">Homework Status</h4>
                      </a>
                      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                         <div donut-chart donut-data='[
    {label: "Download Sales", value: 12},
    {label: "In-Store Sales",value: 30},
    {label: "Mail-Order Sales", value: 20}
]' donut-colors='["#31C0BE","#c7254e","#98a0d3"]' donut-label-color='"#000000"'  
donut-background-color='"#ffffff"' 
donut-formatter='"currency"'>
</div>
                        </div>
                      </div>
                    </div>
                    <div class="panel">
                      <a class="panel-heading collapsed" href ng-click="studentCtrl.showHideAccordian('collapseTwo')">
                        <h4 class="panel-title">Unit Test scores subject-wise</h4>
                      </a>
                      <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
							<div line-chart line-data='[
    { y: "2006", a: 100, b: 90 },
    { y: "2007", a: 75,  b: 65 },
    { y: "2008", a: 50,  b: 40 },
    { y: "2009", a: 75,  b: 65 },
    { y: "2010", a: 50,  b: 40 },
    { y: "2011", a: 75,  b: 65 },
    { y: "2012", a: 100, b: 90 }
]' line-xkey='y' line-ykeys='["a", "b"]' line-labels='["Serie A", "Serie B"]' line-colors='["#31C0BE", "#c7254e"]'>
  </div>
  
                        </div>
                      </div>
                    </div>
                    <div class="panel">
                      <a class="panel-heading collapsed" href ng-click="studentCtrl.showHideAccordian('collapseThree')">
                        <h4 class="panel-title">Attendence</h4>
                      </a>
                      <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
							<div donut-chart donut-data='[
    {label: "Download Sales", value: 12},
    {label: "In-Store Sales",value: 30},
    {label: "Mail-Order Sales", value: 20}
]' donut-colors='["#31C0BE","#c7254e","#98a0d3"]' donut-label-color='"#000000"'  
donut-background-color='"#ffffff"' 
donut-formatter='"currency"'>
</div>
						</div>
                      </div>
                    </div>
                  </div>


	
	
	
  
  
						</div>

          <div class="clearfix"></div>

                    <div class="" >
                        <!-- start recent activity -->
                          <ul class="messages">
                            <li ng-repeat="studentTimeline in studentCtrl.studentTimelineList">
                              <img ng-src="{{studentCtrl.student.facultyImage}}" onerror="this.src='images/img.png'" title = "{{studentCtrl.student.facultyFirstName}} {{studentCtrl.student.facultyLastName}}" alt="{{studentCtrl.student.facultyFirstName}} {{studentCtrl.student.facultyLastName}}" class="avatar" alt="Avatar">
                              <div class="message_date">
                                <h3 class="date text-info">{{studentCtrl.getDate(studentTimeline.eventCreationDateTime)}}</h3>
                                <p class="month">{{studentCtrl.getMonth(studentTimeline.eventCreationDateTime)}}</p>
                              </div>
                              <div class="message_wrapper">
                                <h4 class="heading">{{studentTimeline.title}}</h4>
                                <blockquote class="message">{{studentTimeline.description}}</blockquote>
                                <br />
                                <p class="url">
                                  <span class="fs1 text-info" aria-hidden="true" data-icon="?"></span>
                                  <a href="#"><i class="fa fa-paperclip"></i> User Acceptance Test.doc </a>
                                </p>
                              </div>
                            </li>
                            

                          </ul>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
